<section class="hero">
    <h1>
        Hi, I break things to learn.
    </h1>

    <p>
        I'm Greg, a cybersecurity student building infrastructure,
        experimenting with technology, and documenting the journey.
    </p>
    
</section>