---
import NavigationCard from "./NavigationCard.astro";
---

<section class="cards">

    <NavigationCard
        title="Homelab"
        description="A self-hosted environment where I build, test, and secure my own infrastructure."
        link="/homelab"
    />

    <NavigationCard
        title="About"
        description="My journey into technology and cybersecurity."
        link="/about"
    />

    <NavigationCard
        title="Resume"
        description="Experience, education, and professional goals."
        link="/resume"
    />

</section>